In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
from tabulate import tabulate
df=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/공공자전거_대여소_정보(22.12월 기준).csv")
df_rental=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2022data/강남대여소_2022.csv")
df_weather=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2022data/2022_weather_processed.csv")
df_air=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2022data/2022_air_processed.csv")
df_people=pd.read_csv(r"/content/drive/MyDrive/Acorn/Project/2022data/2022_people_processed.csv")

In [3]:
print('대여소 정보 22 12월 기준')
print(tabulate(df.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print('강남대여소 20')
print(tabulate(df_rental.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print('강남대여소 공기오염도')
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print('유동인구')
print(tabulate(df_people.head(3), headers='keys', tablefmt='psql', showindex=True))
print()

대여소 정보 22 12월 기준
+----+--------------+---------------------+----------+------------------------------------------------------+---------+---------+------------+-----------------+----------------+------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+
|    |   대여소번호 | 보관소(대여소)명    | 자치구   | 상세주소                                             |    위도 |    경도 | 설치시기   |   거치대수(LCD) |   거치대수(QR) | 운영방식   |   Unnamed: 10 |   Unnamed: 11 |   Unnamed: 12 |   Unnamed: 13 |   Unnamed: 14 |   Unnamed: 15 |   Unnamed: 16 |   Unnamed: 17 |   Unnamed: 18 |
|----+--------------+---------------------+----------+------------------------------------------------------+---------+---------+------------+-----------------+----------------+------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------|
|  0 |          301 | 경복궁역 7번출구 앞 | 종로구   | 서울특별시 종로구 사직로 지하130 경복궁역 7번출구 앞 | 37.5758 | 126.971 | 2015-10-07 |              20 |            nan | LCD        |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |
|  1 |          302 | 경복궁역 4번출구 뒤 | 종로구   | 서울특별시 종로구 사직로 지하130 경복궁역 4번출구 뒤 | 37.5759 | 126.974 | 2015-10-07 |             nan |             12 | QR         |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |
|  2 |          303 | 광화문역 1번출구 앞 | 종로구   | 서울특별시 종로구 세종대로 지하189 세종로공원        | 37.5718 | 126.975 | 2015-10-07 |             nan |              8 | QR         |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |
+----+--------------+---------------------+----------+------------------------------------------------------+---------+---------+------------+-----------------+----------------+------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+

강남대여소 20
+----+------------------------+------------+----------+------------+
|    | 대여 대여소명          | 날짜       |   시간대 |   이용건수 |
|----+------------------------+------------+----------+------------|
|  0 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        0 |          0 |
|  1 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        1 |          0 |
|  2 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        2 |          0 |
+----+------------------------+------------+----------+------------+

강남대여소 공기오염도
+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |      측정일 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02201e+09 |           123 |          9 |        9 | 2.02201e+07 |        nan |
|  1 | 2.02201e+09 |           123 |          9 |        8 | 2.02201e+07 |          1 |
|  2 | 2.02201e+09 |           123 |          9 |        7 | 2.02201e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

유동인구
+----+------------+--------------+----------------+----------+--------------+--------------------------+
|    |   기준일ID |   시간대구분 |   총생활인구수 | 행정동   |   대여소번호 | 보관소(대여소)명         |
|----+------------+--------------+----------------+----------+--------------+--------------------------|
|  0 |   20220101 |            0 |        26102.9 | 대치4동  |         2325 | 대치삼성아파트 앞 교차로 |
|  1 |   20220101 |            0 |        47731.6 | 세곡동   |         2343 | 세곡사거리 대왕파출소 앞 |
|  2 |   20220101 |            0 |        47731.6 | 세곡동   |         2344 | 리엔파크 2단지 앞        |
+----+------------+--------------+----------------+----------+--------------+--------------------------+

# 20-21 강남대여소에 대여소코드 넣기

In [4]:
print(tabulate(df.head(3), headers='keys', tablefmt='psql', showindex=True))
print()
print(df.columns)
df=df.drop(columns=['자치구', '상세주소', '위도', '경도', '설치시기', '거치대수(LCD)',
       '거치대수(QR)', '운영방식', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18'])

print(tabulate(df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+--------------+---------------------+----------+------------------------------------------------------+---------+---------+------------+-----------------+----------------+------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+
|    |   대여소번호 | 보관소(대여소)명    | 자치구   | 상세주소                                             |    위도 |    경도 | 설치시기   |   거치대수(LCD) |   거치대수(QR) | 운영방식   |   Unnamed: 10 |   Unnamed: 11 |   Unnamed: 12 |   Unnamed: 13 |   Unnamed: 14 |   Unnamed: 15 |   Unnamed: 16 |   Unnamed: 17 |   Unnamed: 18 |
|----+--------------+---------------------+----------+------------------------------------------------------+---------+---------+------------+-----------------+----------------+------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------|
|  0 |          301 | 경복궁역 7번출구 앞 | 종로구   | 서울특별시 종로구 사직로 지하130 경복궁역 7번출구 앞 | 37.5758 | 126.971 | 2015-10-07 |              20 |            nan | LCD        |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |
|  1 |          302 | 경복궁역 4번출구 뒤 | 종로구   | 서울특별시 종로구 사직로 지하130 경복궁역 4번출구 뒤 | 37.5759 | 126.974 | 2015-10-07 |             nan |             12 | QR         |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |
|  2 |          303 | 광화문역 1번출구 앞 | 종로구   | 서울특별시 종로구 세종대로 지하189 세종로공원        | 37.5718 | 126.975 | 2015-10-07 |             nan |              8 | QR         |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |           nan |
+----+--------------+---------------------+----------+------------------------------------------------------+---------+---------+------------+-----------------+----------------+------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+---------------+

Index(['대여소번호', '보관소(대여소)명', '자치구', '상세주소', '위도', '경도', '설치시기', '거치대수(LCD)',
       '거치대수(QR)', '운영방식', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12',
       'Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16',
       'Unnamed: 17', 'Unnamed: 18'],
      dtype='object')
+----+--------------+---------------------+
|    |   대여소번호 | 보관소(대여소)명    |
|----+--------------+---------------------|
|  0 |          301 | 경복궁역 7번출구 앞 |
|  1 |          302 | 경복궁역 4번출구 뒤 |
|  2 |          303 | 광화문역 1번출구 앞 |
+----+--------------+---------------------+

In [5]:
df = df.rename(columns={'보관소(대여소)명': '대여 대여소명'})

print(tabulate(df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+--------------+---------------------+
|    |   대여소번호 | 대여 대여소명       |
|----+--------------+---------------------|
|  0 |          301 | 경복궁역 7번출구 앞 |
|  1 |          302 | 경복궁역 4번출구 뒤 |
|  2 |          303 | 광화문역 1번출구 앞 |
+----+--------------+---------------------+


# 대여소+강수량 데이터

In [6]:
# df 데이터프레임의 '대여 대여소명' 열의 앞 뒤 공백 제거
df['대여 대여소명'] = df['대여 대여소명'].str.strip()
df_rental['대여 대여소명'] = df_rental['대여 대여소명'].str.strip()

# df_rental과 df 테이블을 대여 대여소명을 기준으로 조인
df_rental = pd.merge(df_rental, df, on='대여 대여소명', how='left')

print(tabulate(df_rental.head(50), headers='keys', tablefmt='psql', showindex=True))

+----+------------------------+------------+----------+------------+--------------+
|    | 대여 대여소명          | 날짜       |   시간대 |   이용건수 |   대여소번호 |
|----+------------------------+------------+----------+------------+--------------|
|  0 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        0 |          0 |         2335 |
|  1 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        1 |          0 |         2335 |
|  2 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        2 |          0 |         2335 |
|  3 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        3 |          0 |         2335 |
|  4 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        4 |          1 |         2335 |
|  5 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        5 |          0 |         2335 |
|  6 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        6 |          0 |         2335 |
|  7 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        7 |          0 |         2335 |
|  8 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        8 |          0 |         2335 |
|  9 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        9 |          0 |         2335 |
| 10 | 3호선 매봉역 3번출구앞 | 2022-01-01 |       10 |          1 |         2335 |
| 11 | 3호선 매봉역 3번출구앞 | 2022-01-01 |       11 |          1 |         2335 |
| 12 | 3호선 매봉역 3번출구앞 | 2022-01-01 |       12 |          3 |         2335 |
| 13 | 3호선 매봉역 3번출구앞 | 2022-01-01 |       13 |          0 |         2335 |
| 14 | 3호선 매봉역 3번출구앞 | 2022-01-01 |       14 |          1 |         2335 |
| 15 | 3호선 매봉역 3번출구앞 | 2022-01-01 |       15 |          1 |         2335 |
| 16 | 3호선 매봉역 3번출구앞 | 2022-01-01 |       16 |          1 |         2335 |
| 17 | 3호선 매봉역 3번출구앞 | 2022-01-01 |       17 |          2 |         2335 |
| 18 | 3호선 매봉역 3번출구앞 | 2022-01-01 |       18 |          0 |         2335 |
| 19 | 3호선 매봉역 3번출구앞 | 2022-01-01 |       19 |          1 |         2335 |
| 20 | 3호선 매봉역 3번출구앞 | 2022-01-01 |       20 |          1 |         2335 |
| 21 | 3호선 매봉역 3번출구앞 | 2022-01-01 |       21 |          2 |         2335 |
| 22 | 3호선 매봉역 3번출구앞 | 2022-01-01 |       22 |          1 |         2335 |
| 23 | 3호선 매봉역 3번출구앞 | 2022-01-01 |       23 |          0 |         2335 |
| 24 | 3호선 매봉역 3번출구앞 | 2022-01-02 |        0 |          0 |         2335 |
| 25 | 3호선 매봉역 3번출구앞 | 2022-01-02 |        1 |          0 |         2335 |
| 26 | 3호선 매봉역 3번출구앞 | 2022-01-02 |        2 |          0 |         2335 |
| 27 | 3호선 매봉역 3번출구앞 | 2022-01-02 |        3 |          0 |         2335 |
| 28 | 3호선 매봉역 3번출구앞 | 2022-01-02 |        4 |          0 |         2335 |
| 29 | 3호선 매봉역 3번출구앞 | 2022-01-02 |        5 |          0 |         2335 |
| 30 | 3호선 매봉역 3번출구앞 | 2022-01-02 |        6 |          0 |         2335 |
| 31 | 3호선 매봉역 3번출구앞 | 2022-01-02 |        7 |          0 |         2335 |
| 32 | 3호선 매봉역 3번출구앞 | 2022-01-02 |        8 |          0 |         2335 |
| 33 | 3호선 매봉역 3번출구앞 | 2022-01-02 |        9 |          0 |         2335 |
| 34 | 3호선 매봉역 3번출구앞 | 2022-01-02 |       10 |          1 |         2335 |
| 35 | 3호선 매봉역 3번출구앞 | 2022-01-02 |       11 |          2 |         2335 |
| 36 | 3호선 매봉역 3번출구앞 | 2022-01-02 |       12 |          1 |         2335 |
| 37 | 3호선 매봉역 3번출구앞 | 2022-01-02 |       13 |          1 |         2335 |
| 38 | 3호선 매봉역 3번출구앞 | 2022-01-02 |       14 |          3 |         2335 |
| 39 | 3호선 매봉역 3번출구앞 | 2022-01-02 |       15 |          1 |         2335 |
| 40 | 3호선 매봉역 3번출구앞 | 2022-01-02 |       16 |          1 |         2335 |
| 41 | 3호선 매봉역 3번출구앞 | 2022-01-02 |       17 |          2 |         2335 |
| 42 | 3호선 매봉역 3번출구앞 | 2022-01-02 |       18 |          1 |         2335 |
| 43 | 3호선 매봉역 3번출구앞 | 2022-01-02 |       19 |          0 |         2335 |
| 44 | 3호선 매봉역 3번출구앞 | 2022-01-02 |       20 |          0 |         2335 |
| 45 | 3호선 매봉역 3번출구앞 | 2022-01-02 |       21 |          1 |         2335 |
| 46 | 3호선 매봉역 3번출구앞 | 2022-01-02 |       22 |          1 |         2335 |
| 47 | 3호선 매봉역 3번출구앞 | 2022-01-02 |       23 |          1 |         2335 |
| 48 | 3호선 매봉역 3번출구앞 | 2022-01-03 |        0 |          1 |         2335 |
| 49 | 3호선 매봉역 3번출구앞 | 2022-01-03 |        1 |          1 |         2335 |
+----+------------------------+------------+----------+------------+--------------+

In [7]:
print(tabulate(df_rental.tail(50), headers='keys', tablefmt='psql', showindex=True))

+---------+----------------------------+------------+----------+------------+--------------+
|         | 대여 대여소명              | 날짜       |   시간대 |   이용건수 |   대여소번호 |
|---------+----------------------------+------------+----------+------------+--------------|
| 1401550 | 학여울역사거리(은마아파트) | 2022-12-29 |       22 |          0 |         4919 |
| 1401551 | 학여울역사거리(은마아파트) | 2022-12-29 |       23 |          0 |         4919 |
| 1401552 | 학여울역사거리(은마아파트) | 2022-12-30 |        0 |          0 |         4919 |
| 1401553 | 학여울역사거리(은마아파트) | 2022-12-30 |        1 |          0 |         4919 |
| 1401554 | 학여울역사거리(은마아파트) | 2022-12-30 |        2 |          0 |         4919 |
| 1401555 | 학여울역사거리(은마아파트) | 2022-12-30 |        3 |          0 |         4919 |
| 1401556 | 학여울역사거리(은마아파트) | 2022-12-30 |        4 |          0 |         4919 |
| 1401557 | 학여울역사거리(은마아파트) | 2022-12-30 |        5 |          0 |         4919 |
| 1401558 | 학여울역사거리(은마아파트) | 2022-12-30 |        6 |          0 |         4919 |
| 1401559 | 학여울역사거리(은마아파트) | 2022-12-30 |        7 |          0 |         4919 |
| 1401560 | 학여울역사거리(은마아파트) | 2022-12-30 |        8 |          0 |         4919 |
| 1401561 | 학여울역사거리(은마아파트) | 2022-12-30 |        9 |          0 |         4919 |
| 1401562 | 학여울역사거리(은마아파트) | 2022-12-30 |       10 |          0 |         4919 |
| 1401563 | 학여울역사거리(은마아파트) | 2022-12-30 |       11 |          0 |         4919 |
| 1401564 | 학여울역사거리(은마아파트) | 2022-12-30 |       12 |          0 |         4919 |
| 1401565 | 학여울역사거리(은마아파트) | 2022-12-30 |       13 |          0 |         4919 |
| 1401566 | 학여울역사거리(은마아파트) | 2022-12-30 |       14 |          0 |         4919 |
| 1401567 | 학여울역사거리(은마아파트) | 2022-12-30 |       15 |          0 |         4919 |
| 1401568 | 학여울역사거리(은마아파트) | 2022-12-30 |       16 |          0 |         4919 |
| 1401569 | 학여울역사거리(은마아파트) | 2022-12-30 |       17 |          1 |         4919 |
| 1401570 | 학여울역사거리(은마아파트) | 2022-12-30 |       18 |          0 |         4919 |
| 1401571 | 학여울역사거리(은마아파트) | 2022-12-30 |       19 |          0 |         4919 |
| 1401572 | 학여울역사거리(은마아파트) | 2022-12-30 |       20 |          0 |         4919 |
| 1401573 | 학여울역사거리(은마아파트) | 2022-12-30 |       21 |          0 |         4919 |
| 1401574 | 학여울역사거리(은마아파트) | 2022-12-30 |       22 |          0 |         4919 |
| 1401575 | 학여울역사거리(은마아파트) | 2022-12-30 |       23 |          0 |         4919 |
| 1401576 | 학여울역사거리(은마아파트) | 2022-12-31 |        0 |          0 |         4919 |
| 1401577 | 학여울역사거리(은마아파트) | 2022-12-31 |        1 |          0 |         4919 |
| 1401578 | 학여울역사거리(은마아파트) | 2022-12-31 |        2 |          1 |         4919 |
| 1401579 | 학여울역사거리(은마아파트) | 2022-12-31 |        3 |          0 |         4919 |
| 1401580 | 학여울역사거리(은마아파트) | 2022-12-31 |        4 |          0 |         4919 |
| 1401581 | 학여울역사거리(은마아파트) | 2022-12-31 |        5 |          0 |         4919 |
| 1401582 | 학여울역사거리(은마아파트) | 2022-12-31 |        6 |          0 |         4919 |
| 1401583 | 학여울역사거리(은마아파트) | 2022-12-31 |        7 |          1 |         4919 |
| 1401584 | 학여울역사거리(은마아파트) | 2022-12-31 |        8 |          1 |         4919 |
| 1401585 | 학여울역사거리(은마아파트) | 2022-12-31 |        9 |          0 |         4919 |
| 1401586 | 학여울역사거리(은마아파트) | 2022-12-31 |       10 |          0 |         4919 |
| 1401587 | 학여울역사거리(은마아파트) | 2022-12-31 |       11 |          1 |         4919 |
| 1401588 | 학여울역사거리(은마아파트) | 2022-12-31 |       12 |          0 |         4919 |
| 1401589 | 학여울역사거리(은마아파트) | 2022-12-31 |       13 |          0 |         4919 |
| 1401590 | 학여울역사거리(은마아파트) | 2022-12-31 |       14 |          0 |         4919 |
| 1401591 | 학여울역사거리(은마아파트) | 2022-12-31 |       15 |          1 |         4919 |
| 1401592 | 학여울역사거리(은마아파트) | 2022-12-31 |       16 |          0 |         4919 |
| 1401593 | 학여울역사거리(은마아파트) | 2022-12-31 |       17 |          1 |         4919 |
| 1401594 | 학여울역사거리(은마아파트) | 2022-12-31 |       18 |          0 |         4919 |
| 1401595 | 학여울역사거리(은마아파트) | 2022-12-31 |       19 |          0 |         4919 |
| 1401596 | 학여울역사거리(은마아파트) | 2022-12-31 |       20 |          0 |         4919 |
| 1401597 | 학여울역사거리(은마아파트) | 2022-12-31 |       21 |          0 |         4919 |
| 1401598 | 학여울역사거리(은마아파트) | 2022-12-31 |       22 |          1 |         4919 |
| 1401599 | 학여울역사거리(은마아파트) | 2022-12-31 |       23 |          5 |         4919 |
+---------+----------------------------+------------+----------+------------+--------------+

In [8]:
print(df_weather.columns)
print()

# '일시' 열의 이름을 '날짜'로 변경
df_weather = df_weather.rename(columns={'일시': '날짜'})

# 결과 출력
print(tabulate(df_weather.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['지점', '지점명', '일시', '평균기온(°C)', '일강수량(mm)'], dtype='object')

+----+--------+----------+------------+----------------+----------------+
|    |   지점 | 지점명   | 날짜       |   평균기온(°C) | 일강수량(mm)   |
|----+--------+----------+------------+----------------+----------------|
|  0 |    108 | 서울     | 2022-01-01 |           -4.3 | 비안옴         |
|  1 |    108 | 서울     | 2022-01-02 |           -1.3 | 비옴           |
|  2 |    108 | 서울     | 2022-01-03 |           -1.9 | 비옴           |
+----+--------+----------+------------+----------------+----------------+

In [9]:
# 날짜를 기준으로 두 데이터프레임 병합
merged_df = pd.merge(df_rental, df_weather, on='날짜', how='left')

# 필요한 경우 칼럼명을 조정하여 원하는 형식으로 만들기
merged_df.rename(columns={'일강수량(mm)': '날씨'}, inplace=True)

# 결과 출력
print(merged_df.columns)
print()

print(tabulate(merged_df.head(3), headers='keys', tablefmt='psql', showindex=True))
print()

# 합친 데이터프레임에서 필요한 칼럼만 가져오기
selected_columns = ['대여소번호','대여 대여소명', '날짜', '시간대', '날씨',  '평균기온(°C)']
subset_df = merged_df[selected_columns]
print(tabulate(subset_df.head(3), headers='keys', tablefmt='psql', showindex=True))
print(subset_df.shape)

Index(['대여 대여소명', '날짜', '시간대', '이용건수', '대여소번호', '지점', '지점명', '평균기온(°C)', '날씨'], dtype='object')

+----+------------------------+------------+----------+------------+--------------+--------+----------+----------------+--------+
|    | 대여 대여소명          | 날짜       |   시간대 |   이용건수 |   대여소번호 |   지점 | 지점명   |   평균기온(°C) | 날씨   |
|----+------------------------+------------+----------+------------+--------------+--------+----------+----------------+--------|
|  0 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        0 |          0 |         2335 |    108 | 서울     |           -4.3 | 비안옴 |
|  1 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        1 |          0 |         2335 |    108 | 서울     |           -4.3 | 비안옴 |
|  2 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        2 |          0 |         2335 |    108 | 서울     |           -4.3 | 비안옴 |
+----+------------------------+------------+----------+------------+--------------+--------+----------+----------------+--------+

+----+--------------+------------------------+------------+----------+--------+----------------+
|    |   대여소번호 | 대여 대여소명          | 날짜       |   시간대 | 날씨   |   평균기온(°C) |
|----+--------------+------------------------+------------+----------+--------+----------------|
|  0 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        0 | 비안옴 |           -4.3 |
|  1 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        1 | 비안옴 |           -4.3 |
|  2 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        2 | 비안옴 |           -4.3 |
+----+--------------+------------------------+------------+----------+--------+----------------+
(1401600, 6)

# 대여소+강수량+(공기오염도 - 평균값을 넣기)

In [10]:
print(df_air.columns)
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['측정일시', '측정소 코드', '측정항목', '평균값', '측정일', '측정시간'], dtype='object')
+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |      측정일 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02201e+09 |           123 |          9 |        9 | 2.02201e+07 |        nan |
|  1 | 2.02201e+09 |           123 |          9 |        8 | 2.02201e+07 |          1 |
|  2 | 2.02201e+09 |           123 |          9 |        7 | 2.02201e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

In [11]:
# '일시' 열의 이름을 '날짜'로 변경
df_air = df_air.rename(columns={'측정일': '날짜'})

# 결과 출력
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+-------------+---------------+------------+----------+-------------+------------+
|    |    측정일시 |   측정소 코드 |   측정항목 |   평균값 |        날짜 |   측정시간 |
|----+-------------+---------------+------------+----------+-------------+------------|
|  0 | 2.02201e+09 |           123 |          9 |        9 | 2.02201e+07 |        nan |
|  1 | 2.02201e+09 |           123 |          9 |        8 | 2.02201e+07 |          1 |
|  2 | 2.02201e+09 |           123 |          9 |        7 | 2.02201e+07 |          2 |
+----+-------------+---------------+------------+----------+-------------+------------+

In [12]:
# 날짜 형식 변경
df_air['날짜'] = pd.to_datetime(df_air['날짜'], format='%Y%m%d')

# 날짜를 원하는 형식으로 다시 문자열로 변환
df_air['날짜'] = df_air['날짜'].dt.strftime('%Y-%m-%d')

#측정시간 NaN값 0으로
df_air['측정시간'] = df_air['측정시간'].fillna(0)
print(tabulate(df_air.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+------------+---------------+------------+----------+------------+------------+
|    |   측정일시 |   측정소 코드 |   측정항목 |   평균값 | 날짜       |   측정시간 |
|----+------------+---------------+------------+----------+------------+------------|
|  0 | 2022010100 |           123 |          9 |        9 | 2022-01-01 |          0 |
|  1 | 2022010101 |           123 |          9 |        8 | 2022-01-01 |          1 |
|  2 | 2022010102 |           123 |          9 |        7 | 2022-01-01 |          2 |
+----+------------+---------------+------------+----------+------------+------------+

In [13]:
# df_air 칼럼의 측정시간 값과 일치하는 것을 기준으로 두 데이터프레임을 날짜를 기준으로 병합
merged_df = pd.merge(subset_df, df_air, left_on=['날짜', '시간대'], right_on=['날짜', '측정시간'], how='left')

# 필요한 경우 칼럼명을 조정하여 원하는 형식으로 만들기
merged_df.rename(columns={'평균값': 'Pm2.5'}, inplace=True)

# 결과 출력
print(tabulate(merged_df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+--------------+------------------------+------------+----------+--------+----------------+------------+---------------+------------+---------+------------+
|    |   대여소번호 | 대여 대여소명          | 날짜       |   시간대 | 날씨   |   평균기온(°C) |   측정일시 |   측정소 코드 |   측정항목 |   Pm2.5 |   측정시간 |
|----+--------------+------------------------+------------+----------+--------+----------------+------------+---------------+------------+---------+------------|
|  0 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        0 | 비안옴 |           -4.3 | 2022010100 |           123 |          9 |       9 |          0 |
|  1 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        1 | 비안옴 |           -4.3 | 2022010101 |           123 |          9 |       8 |          1 |
|  2 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        2 | 비안옴 |           -4.3 | 2022010102 |           123 |          9 |       7 |          2 |
+----+--------------+------------------------+------------+----------+--------+----------------+------------+---------------+------------+---------+------------+

In [14]:
# 제외할 열 목록
excluded_columns = ['측정일시', '측정소 코드', '측정항목', '측정시간']

# 제외한 열만 선택하여 새로운 데이터프레임 생성
final_df = merged_df.drop(columns=excluded_columns)
print(tabulate(final_df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+--------------+------------------------+------------+----------+--------+----------------+---------+
|    |   대여소번호 | 대여 대여소명          | 날짜       |   시간대 | 날씨   |   평균기온(°C) |   Pm2.5 |
|----+--------------+------------------------+------------+----------+--------+----------------+---------|
|  0 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        0 | 비안옴 |           -4.3 |       9 |
|  1 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        1 | 비안옴 |           -4.3 |       8 |
|  2 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        2 | 비안옴 |           -4.3 |       7 |
+----+--------------+------------------------+------------+----------+--------+----------------+---------+

# 유동인구 추가하기

In [15]:
print(df_people.columns)
print(tabulate(df_people.head(3), headers='keys', tablefmt='psql', showindex=True))

Index(['기준일ID', '시간대구분', '총생활인구수', '행정동', '대여소번호', '보관소(대여소)명'], dtype='object')
+----+------------+--------------+----------------+----------+--------------+--------------------------+
|    |   기준일ID |   시간대구분 |   총생활인구수 | 행정동   |   대여소번호 | 보관소(대여소)명         |
|----+------------+--------------+----------------+----------+--------------+--------------------------|
|  0 |   20220101 |            0 |        26102.9 | 대치4동  |         2325 | 대치삼성아파트 앞 교차로 |
|  1 |   20220101 |            0 |        47731.6 | 세곡동   |         2343 | 세곡사거리 대왕파출소 앞 |
|  2 |   20220101 |            0 |        47731.6 | 세곡동   |         2344 | 리엔파크 2단지 앞        |
+----+------------+--------------+----------------+----------+--------------+--------------------------+

In [16]:
# '보관소(대여소)명' 열의 이름을 '대여 대여소명'로 변경
df_people = df_people.rename(columns={'보관소(대여소)명': '대여 대여소명','기준일ID':'날짜','시간대구분':'시간대','총생활인구수':'유동인구(명)'})

# '유동인구(명)' 칼럼의 데이터를 int 타입으로 변환
df_people['유동인구(명)'] = df_people['유동인구(명)'].astype(int)

print(tabulate(df_people.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+----------+----------+----------------+----------+--------------+--------------------------+
|    |     날짜 |   시간대 |   유동인구(명) | 행정동   |   대여소번호 | 대여 대여소명            |
|----+----------+----------+----------------+----------+--------------+--------------------------|
|  0 | 20220101 |        0 |          26102 | 대치4동  |         2325 | 대치삼성아파트 앞 교차로 |
|  1 | 20220101 |        0 |          47731 | 세곡동   |         2343 | 세곡사거리 대왕파출소 앞 |
|  2 | 20220101 |        0 |          47731 | 세곡동   |         2344 | 리엔파크 2단지 앞        |
+----+----------+----------+----------------+----------+--------------+--------------------------+

In [17]:
print(tabulate(final_df.head(3), headers='keys', tablefmt='psql', showindex=True))

+----+--------------+------------------------+------------+----------+--------+----------------+---------+
|    |   대여소번호 | 대여 대여소명          | 날짜       |   시간대 | 날씨   |   평균기온(°C) |   Pm2.5 |
|----+--------------+------------------------+------------+----------+--------+----------------+---------|
|  0 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        0 | 비안옴 |           -4.3 |       9 |
|  1 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        1 | 비안옴 |           -4.3 |       8 |
|  2 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        2 | 비안옴 |           -4.3 |       7 |
+----+--------------+------------------------+------------+----------+--------+----------------+---------+

In [18]:
# 날짜 형식 변경
df_people['날짜'] = pd.to_datetime(df_people['날짜'], format='%Y%m%d')

# 날짜를 원하는 형식으로 다시 문자열로 변환
df_people['날짜'] = df_people['날짜'].dt.strftime('%Y-%m-%d')

# df 데이터프레임의 '대여 대여소명' 열의 앞 뒤 공백 제거
final_df['대여 대여소명'] = final_df['대여 대여소명'].str.strip()
df_people['대여 대여소명'] = df_rental['대여 대여소명'].str.strip()

# df_people 칼럼의 측정시간 값과 일치하는 것을 기준으로 두 데이터프레임을 날짜를 기준으로 병합
final_df = pd.merge(final_df, df_people, left_on=['날짜', '시간대','대여소번호'], right_on=['날짜', '시간대','대여소번호'], how='left')

print(final_df.shape)
print(tabulate(final_df.head(), headers='keys', tablefmt='psql', showindex=True))

(1401600, 10)
+----+--------------+------------------------+------------+----------+--------+----------------+---------+----------------+----------+------------------------+
|    |   대여소번호 | 대여 대여소명_x        | 날짜       |   시간대 | 날씨   |   평균기온(°C) |   Pm2.5 |   유동인구(명) | 행정동   | 대여 대여소명_y        |
|----+--------------+------------------------+------------+----------+--------+----------------+---------+----------------+----------+------------------------|
|  0 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        0 | 비안옴 |           -4.3 |       9 |          29299 | 도곡2동  | 3호선 매봉역 3번출구앞 |
|  1 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        1 | 비안옴 |           -4.3 |       8 |          29515 | 도곡2동  | 3호선 매봉역 3번출구앞 |
|  2 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        2 | 비안옴 |           -4.3 |       7 |          29670 | 도곡2동  | 3호선 매봉역 3번출구앞 |
|  3 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        3 | 비안옴 |           -4.3 |       7 |          29565 | 도곡2동  | 3호선 매봉역 3번출구앞 |
|  4 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        4 | 비안옴 |           -4.3 |      11 |          29753 | 도곡2동  | 3호선 매봉역 3번출구앞 |
+----+--------------+------------------------+------------+----------+--------+----------------+---------+----------------+----------+------------------------+

In [19]:
# 제외한 열만 선택하여 새로운 데이터프레임 생성
final_df = final_df.drop(columns='대여 대여소명_y')

# '보관소(대여소)명' 열의 이름을 '대여 대여소명'로 변경
final_df = final_df.rename(columns={'대여 대여소명_x': '대여 대여소명'})

In [21]:
final_df = final_df.drop(columns='행정동')

In [22]:
print(tabulate(final_df.head(10), headers='keys', tablefmt='psql', showindex=True))

+----+--------------+------------------------+------------+----------+--------+----------------+---------+----------------+
|    |   대여소번호 | 대여 대여소명          | 날짜       |   시간대 | 날씨   |   평균기온(°C) |   Pm2.5 |   유동인구(명) |
|----+--------------+------------------------+------------+----------+--------+----------------+---------+----------------|
|  0 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        0 | 비안옴 |           -4.3 |       9 |          29299 |
|  1 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        1 | 비안옴 |           -4.3 |       8 |          29515 |
|  2 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        2 | 비안옴 |           -4.3 |       7 |          29670 |
|  3 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        3 | 비안옴 |           -4.3 |       7 |          29565 |
|  4 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        4 | 비안옴 |           -4.3 |      11 |          29753 |
|  5 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        5 | 비안옴 |           -4.3 |       9 |          30064 |
|  6 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        6 | 비안옴 |           -4.3 |       9 |          29743 |
|  7 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        7 | 비안옴 |           -4.3 |      11 |          29084 |
|  8 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        8 | 비안옴 |           -4.3 |      12 |          28487 |
|  9 |         2335 | 3호선 매봉역 3번출구앞 | 2022-01-01 |        9 | 비안옴 |           -4.3 |      10 |          27900 |
+----+--------------+------------------------+------------+----------+--------+----------------+---------+----------------+

In [23]:
final_df.to_csv('/content/drive/MyDrive/Acorn/Project/df_final2022.csv', index=False)

## 2022 데이터 최종 Merge

In [ ]:
import pandas as pd
from tabulate import tabulate

In [ ]:
df1=pd.read_csv(r'/content/drive/MyDrive/Acorn/Project/2022data/22년5분데이터.csv')
print(tabulate(df1.head(10), headers='keys', tablefmt='psql', showindex=True))
print(len(df1[df1['대여소명']=='3호선 매봉역 3번출구앞']))

In [ ]:
final_df=pd.read_csv(r'/content/drive/MyDrive/Acorn/Project/df_final2022.csv')
print(tabulate(final_df.head(10), headers='keys', tablefmt='psql', showindex=True))
print(len(final_df[final_df['대여 대여소명']=='3호선 매봉역 3번출구앞']))

In [ ]:
# 날짜 형식 변경
df1['기준_날짜'] = pd.to_datetime(df1['기준_날짜'], format='%Y%m%d')

# 날짜를 원하는 형식으로 다시 문자열로 변환
df1['기준_날짜'] = df1['기준_날짜'].dt.strftime('%Y-%m-%d')

# '기준_날짜', '시간대', '대여소명'을 기준으로 두 데이터프레임을 병합-  대여건수랑 반납건수가 둘다 없는 것은 삭제하기 위해서 inner join 사용 -> 시간대는 있지만, 그에 따른 대여건수랑 반납건수가 없기에 inner join으로 그 시간대에 있는 정보만 가져옴
merged_df = pd.merge(final_df,df1, left_on=['날짜', '시간대', '대여 대여소명'], right_on=['기준_날짜', '기준_시간대', '대여소명'],  how='inner')

# 결과 출력
print(tabulate(merged_df.head(10), headers='keys', tablefmt='psql', showindex=True))

In [ ]:
# 주어진 데이터프레임에서 대여소번호, 대여소명, 기준_날짜 열을 제외하고 새로운 데이터프레임 생성
final_df = merged_df.drop(['대여소번호', '대여소명', '기준_날짜'], axis=1)

# 대여소 ID 칼럼을 맨 앞으로 이동
cols = list(final_df.columns)
cols = ['대여소ID'] + [col for col in cols if col != '대여소ID']
final_df = final_df[cols]

#대여 대여소 칼럼명 변경
final_df = final_df.rename(columns={'대여 대여소명': '대여소명'})

In [ ]:
print(final_df.shape)

print(final_df[final_df['대여소명']=='3호선 매봉역 3번출구앞'])
print(tabulate(final_df.head(100), headers='keys', tablefmt='psql', showindex=True))

In [ ]:
final_df.to_csv('/content/drive/MyDrive/Acorn/Project/df_final_final2022_.csv', index=False)